.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__name {
  margin: 0;
}
.info__occupation {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.info__links {
  margin-top: 0.5rem;
  display: flex;
  z-index: 500;
}