.avatar {
  background-image: url(/src/assets/images/avatar.jpeg);
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-top: 3rem;
  margin-bottom: -3rem;
  border: 3px solid #f492ab;
  border-radius: 10px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.avatar:hover {
  margin-top: 2rem;
  margin-bottom: -2rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
